/* npx tailwindcss -i ./css/input.css -o ./css/style.css --watch */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Raw CSS */
html, body {
  scroll-behavior: smooth;
}

/* Custom */
@layer components {

  /* Gradients */
  .gradient-text-green-blue {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-green-300 to-blue-400;
  }

  .gradient-green-blue {
    @apply bg-gradient-to-r from-green-300 to-blue-400;
  }

  .horizontal-gradient-line {
    @apply w-full h-1 border-0 rounded gradient-green-blue
  }

  /* Project */
  .main-project-div {
    @apply bg-project-background-theme border border-project-border rounded-md overflow-hidden hover:bg-project-hover-theme;
  }

  .project-image {
    @apply p-3 border-green-400 mx-auto border-dashed rounded-xl border-l border-r h-52 md:h-64 w-auto
  }

  .project-image-border-style {
    @apply mx-auto border-blue-400 border-dashed
  }

  .languages-frameworks {
    @apply font-mono rounded-lg text-project-language-text-theme px-2 py-1 mt-2 m-1 text-xs;
  }

  .project-heading {
    @apply mb-2 text-lg font-bold tracking-tight gradient-text-green-blue;
  }

  .button-style {
    @apply rounded-xl px-2 py-1 text-black gradient-green-blue hover:scale-105
  }

  .project-text {
    @apply text-project-descrption-theme text-sm 2xl:text-lg;
  }

}