/* Author: Kush Bharakhada */

/* ~~~~~~~~~~~~~ GENERAL VARIABLES ~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

:root {
  --main-background-colour: black;
  --header-and-footer-font-colour: white;
  --non-important-text-colour: rgb(154, 154, 154);
  --project-background-colour: rgb(49, 49, 49);
  --project-box-text-colour: rgb(230, 230, 230);
}

html, body {
  height: 100vh;
  width: 100%;
}

body {
  min-width: 320px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: var(--main-background-colour);
  margin: 0;
  padding: 0;
  color: var(--header-and-footer-font-colour);
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
  margin: 0 auto;
  width: 80%;
}

/* ~~~~~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3s steps(40, end);
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

header {
  margin: 20px 0 50px 0;
}

header h1 {
  font-size: 2em;
}

header p {
  font-size: 1.2em;
}

/* ~~~~~~~~~~~~~~~~~~~~~ MAIN ~~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.project-image {
  min-width: 400px;
  min-height: 250px;
  width: 400px;
  height: 250px;
  transform: translateX(-6rem);
  position: relative;
}

.project-image img {
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.45);
  width: 100%;
  border: 1px solid grey;
}

.project {
  color: var(--project-box-text-colour);
  margin: 40px auto;
  max-width: 100rem;
  padding: 2rem;
  background-color: var(--project-background-colour);
  border: 2px solid grey;
  display: flex;
  border-radius: 0.8rem;
  transition: all 0.2s ease-in-out;
}

.project:hover {
  transform: scale(1.02);
  background-color: rgb(62, 62, 62);
}

.project h1 {
  margin: 0;
  padding: 0;
}

#languages {
  width: fit-content;
  margin: 5px auto;
  padding: 0px 10px;
  border-radius: 2px;
  color: black;
}

.java, .css, .html, .javascript {
  padding: 2px;
  border-radius: 1px;
}

/* Language colours */
.java {
  background-color: rgb(255, 0, 0);
}
.css {
  background-color: rgb(225, 255, 0);
}
.html {
  background-color: rgb(0, 183, 255);
}
.javascript {
  background-color: rgb(0, 255, 55);
}

.project a {
  float: right;
  color: var(--non-important-text-colour);
}

#date {
  float: left;
}

.project-info {
  color: var(--non-important-text-colour);
  margin: 10px;
  display: inline;
}

/* ~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.small-text {
  font-size: 0.7em;
  color: var(--non-important-text-colour);
}

footer {
  margin-bottom: 30px;
}

footer p {
  padding: 0;
  margin: 10px 0;
}

footer img {
  width: 50px;
  border-radius: 25px;
}

/* ~~~~~~~~~~~~~~~~ MEDIA QUERIES ~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media screen and (max-width: 1024px) {
  .project-image {
    transform: translateX(-4rem);
  }
  
}

@media screen and (max-width: 868px) {
  header {
    margin: 20px 0 75px 0;
  }

  header h1 {
    font-size: 1.2em;
  }
  
  header p {
    font-size: 0.8em;
  }

  .project {
    flex-direction: column;
    margin-bottom: 60px; 
  }

  .project h1 {
    font-size: 1em;
  }

  .project p, .project-info, footer p, #languages {
    font-size: 0.8em;
  }

  .small-text {
    font-size: 0.5em;
  }

  .small-screen-adjustment {
    transform: translateY(-4rem);
  }

  .project-image {
    transform: translate(0, -4rem);
    margin: 0 auto;
    min-width: 200px;
    min-height: 188px;
    width: 200px;
    height: 188px;
    
    
  }
  
}




